@font-face {
    font-family: 'titulos';
    src: url(/Dia\ 10/storage/Fontd/Starjhol.ttf);
}

body{
    background-image: url(https://wallpapers.com/images/featured/star-wars-plzcoaffexgf4h81.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.titulo{
    font-family:'titulos';
    font-size: 150px;
    margin-top: 5vi;
    color: #ffae00;
}

.table {
    width: 100%;
    border-collapse: collapse black;
    border: 1px solid #000000;
    color: #ffae00 ;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

.table th {
    background-color: #0c0c0bb7;
}